#imageOverlay{
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.6);
    z-index: 5;
}

#imgOverlayContainer{
    height: 84%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: blue 1px solid; */
    /* max-height: 90%; */
}

#imgOverlayContainer > img{
    border: rgb(212, 1, 114) 0.25rem groove;
    background-color: rgb(122, 0, 65);
    width: auto;
    height: 90%;
    padding: 10% auto;
    margin:0 auto;
}


#imageOverlayButtons{
    /* border: blue 1px solid; */

    height: 15%;
    width: 65%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-evenly;
    /* background-color: rgba(229, 225, 255, 0.178); */
   
}

.imageArrow{
    position: relative;
    height: 100%;
    
}

.imageArrow:hover{
    cursor: pointer;
}

#imageArrowRight{
    transform: rotate(180deg);
}



#hideImageOverlayBtn{
    height: 100%;
}

#hideImageOverlayBtn:hover{
    cursor: pointer; 
}