#ProjectsScreen {
    /* background-color:; */
    /* display: flex; */
}

#hexagonalGridContainer {
    position: relative;
    /* height: 100%; */
    width: 50%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}


/* #hexagonalGrid {
    width: 50%;
} */

#hexagonalGrid .hexagon {
    height: auto;
    /* stroke: rgb(116, 0, 62); */
    stroke-width: 25;
}

#hexagonalGrid .hexagon:hover {
    stroke: rgb(216, 0, 115);
    fill: rgb(0, 99, 165);
}

#hexagonalGrid .hexagon:active {
    stroke: gold;
    fill: white;
}