#ProjectsScreen {
    /* background-color:; */
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#hexagonalGridContainer {
    position: relative;
    height: 100%;
    width: 45%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-evenly;
    align-self: center;
}


/* #hexagonalGrid {
    width: 50%;
} */

svg .previewStatic {
    filter: hue-rotate(50deg);
    opacity: 0.8;
}

#ProjectsScreen .ItemPreview {
    border: rgb(212, 1, 114) 0.4vw groove;
    /* position: absolute; */
    top: 38%;
    /* background-color: blue; */
    height: 25%;
    width: 20%;
    overflow: hidden;
}

#ProjectsScreen .TextPreviewContainer {
    margin-left: 2%;
}

#ProjectsScreen .ImgPreviewContainer {
    margin-right: 2%;
}

#hexagonalGridContainer .hexagon {
    stroke-width: 15;
}