#StartScreen {
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}

#StartScreen>p {
    position: absolute;
    color: white;
    font-weight: bold;
    margin: 0;
    z-index: 1;
}

#Subtitle {
    font-size: 2.3vw;
    top: 20%;
}

#GameTitle {
    font-size: 10.4vw;
    top: 27.5%;
    background-color: black;
    width: 66%;
    text-align: center;
}

#StartPrompt {
    font-size: 2.8vw;
    display: none;
    bottom: 15%;
    background-color: #9e2000;
    width: 20%;
    text-align: center;
    border-radius: 20vw;
}

#StartPrompt:hover {
    color: rgb(0, 225, 255);
}

#StartPrompt:active {
    color: greenyellow;
}